
.faces {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
  width: 30%;
}
.header {
  text-decoration: underline;
  margin: 0
}
.faces-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.saved-image {
  margin: 10px;
  max-width: 300px;
}

.faces-block {
  height: 200px;
  overflow-y: auto;
}